<a href="/">Map A Run</a>
<a href="/auth/signup">Signup</a>
<a href="/auth/login">Login</a>
<a href="/auth/logout">Logout</a>
<a href="/profile">Favorite Runs</a>
<a href="/runMaps/showAllRuns">All Runs</a>
