<h2>Favorite Runs</h2>
Welcome, <%- (currentUser.name) %>!

<form action="/updateProfile/username" id="updateUsername">
  <input type="text" name="name" value="" id="username">
  <input type="submit" value="Update Username" id="submit">
</form>

<% favs.forEach(function(fav, idx) { %>
  <div>
    <h2><%= fav.name %></h2>
    <a href="/runMaps/showRuns/<%= fav.id %>">View Run</a>
    <a href="/favs/deleteFavorites/<%= fav.id %>" id="delete">Delete Run</a>
  </div>
<% }); %>

<script>

$('#updateUsername').on('submit', function(e) {
  e.preventDefault();
  var formElement = $(this);
  var formPath = formElement.attr('action');
  var formData = formElement.serialize();
  $.ajax({
    method: 'PUT',
    url: formPath,
    data: formData
  }).done(function(data) {
    console.log(data);
    window.location = '/profile';
  });
});

$('#delete').on('click', function(e) {
  e.preventDefault();
  var deleteElement = $(this);
  var deleteUrl = deleteElement.attr('href');
  $.ajax({
    method: 'DELETE',
    url: deleteUrl
  }).done(function(data) {
    deleteElement.remove();
    window.location = '/profile';
  });
});

</script>
